/* Dark - #b1f6cb
Medium - #bef8cf
Light - #ebfdd4
*/

* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #ngramData {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
    #ngramData {
        display: none;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}

div.actorList {
    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
}
div.actorDisplay {
    break-before: column;
}

#theMap{
    height: 400px;
    width: 85%;
}
.hero-body {
        background-color: #C9FFD5;
    }
p {
    padding-bottom: 18px;
}
h1.countryOrig {
    color: #324035;
    font-size: 24px;
    font-weight: bold;
}
#buttonsDiv {
    margin: 0px auto;
}
button{
    margin: 40px;
}

.flags{
    width: 250px;
    height: 180px;
    float: right;
}
