* {
    box-sizing: border-box;
}

@media screen and (min-width: 640px) {

.hidden{
        display: none;
    }

    #theMap {
        margin: 0 auto;
        height: 380px;
        width: 82%;
        margin-bottom: 20px;
    }

    h1.countryOrig {
        color: #324035;
        font-size: 24px;
        font-weight: bold;
    }

    .flags{
        width: 250px;
        height: 180px;
        float: right;
    }

    div.actorList {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        margin: 20px;
    }
    

}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    #ngramData {
        display: none;
    }


}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
    #ngramData {
        display: none;
    }

    p{
        float: right;
    }

    .notHidden{
        display: none;
    }

    .minStyle{
        width: 80%;
    }

    #theMap {
        margin: 0 auto;
        height: 300px;
        width: 80%;
        margin-bottom: 15px;
    }

    h1.countryOrig {
        color: #324035;
        font-size: 18px;
        font-weight: bold;
    }

    .flags{
        width: 90%;
        height: 180px;
        float: left;
        margin-left: 25px;
        margin-bottom: 10px;
    }


    div.actorList {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin: 10px;
    }

}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}



body {
    background-image: url('../images/congruent_pentagon.png');
}


}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
    #ngramData {
        display: none;
    }

    p{
        float: right;
    }

    .notHidden{
        display: none;
    }

    .minStyle{
        width: 80%;
    }

    #theMap {
        margin: 0 auto;
        height: 300px;
        width: 80%;
        margin-bottom: 15px;
    }

    h1.countryOrig {
        color: #324035;
        font-size: 18px;
        font-weight: bold;
    }

    .flags{
        width: 90%;
        height: 180px;
        float: left;
        margin-left: 25px;
        margin-bottom: 10px;
    }


    div.actorList {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        margin: 10px;
    }

}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}



body {
    background-image: url('../images/congruent_pentagon.png');
}

.container {
    background-color: #fff;
    border: 4px solid #b1f6cb;
    width: 80%;
}

.hero-body {
    background-color: #bef8cf;
}

.searchInput{
    width: 60%;
    text-align: center;
}

#mainSearch {
    margin-top: 40px;
}

.control { 
    text-align: center;
    padding: 10px;

}


p {
    padding-bottom: 18px;
}

#buttonsDiv {
    background-color: #bef8cf;
    border-bottom: 4px solid #b1f6cb;
    min-height: 45px;
}
.field{
    float: right; 
}

a.btn {
    margin: 0 40px 0 10px;
    color: #359285;
}
a:hover.btn {
    color: #2B392F;
}

figure {
    margin-bottom: 30px;
    margin-left: 20%;
}

.errorMg{
    position: fixed;
    width: 65%;
    height: 30%;
    color: white;
    font-size: 26px;
    text-align: center;
    padding: 80px;
    margin-left: 6% ;
    background-color: rgba(0, 0, 0, 0.51);
    z-index: 2;
}
.title{
    text-align: center;
}
.columns {
    width: 100%;
}
table.poppD {
    width: 80%;
    margin: 0 auto;
}
td.poppD {
    border: 1px solid #ececec;
    padding: 2px;
}
#ngramData {
    width: 100%;
}